<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- ======== START : ref based XML configuration ======== -->
	<!-- using property -->
	<bean name="userService"
		class="com.ms.springxmlconfig.service.UserServiceImpl">
		<!-- use <property> element for setter injection -->
		<!-- property name (defined in UserServiceImpl class) must match the setter method name for UserRepository -->
		<property name="userRepository" ref="userRepository" />
	</bean>

	<bean name="userRepository"
		class="com.ms.springxmlconfig.repository.UserRepositoryImpl" />


	<!-- using constructor -->
	<bean name="adminService"
		class="com.ms.springxmlconfig.service.AdminServiceImpl">
		<!-- use <constructor-arg> element for constructor injection -->
		<constructor-arg index="0" ref="adminRepository" />
	</bean>
	
	<bean name="adminRepository"
		class="com.ms.springxmlconfig.repository.AdminRepositoryImpl" />
	<!-- ======== END : ref based XML configuration ======== -->




	<!-- ======== START : XML configuration with Autowire using constructor ======== -->
	<!-- note that the value of name attribute (guestServ in this case) must match argument value in appContext.getBean(...) method -->
	<bean name="guestServ"
		class="com.ms.springxmlconfig.service.GuestServiceImpl"
		autowire="constructor" />
	
	<bean name="guestRepo"
		class="com.ms.springxmlconfig.repository.GuestRepositoryImpl" />
	<!-- ======== END : XML configuration with Autowire using constructor ======== -->




	<!-- ======== START : XML configuration with Autowire using byType ======== -->
	<bean name="guestService" 
		class="com.ms.springxmlconfig.service.GuestServiceImpl" 
		autowire="byType" />
		
	<bean name="guestPassRepository" 
		class="com.ms.springxmlconfig.repository.GuestPassRepositoryImpl" />
	<!-- ======== END : XML configuration with Autowire using byType ======== -->

</beans>
